<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DMImagePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DMImagePickerBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>181115841B8CD72E000A0980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182283101B96D34F00596C87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FA2E371B8AEE0800030821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FA2E501B8AEE0800030821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
